src/test/resources/country.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="country">
        <xsd:complexType mixed="true">
            <xsd:sequence>
                <xsd:element name="countryName" minOccurs="0" type="xsd:normalizedString"/>
                <xsd:element name="id" minOccurs="0" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
